body {
	font-family: Open Sans, sans-serif;
	background-color: #f1f1f1;
}

main {
	margin: -50px auto;
	max-width: 1440px;
	padding: 0 5px;
}

.home {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.content {
    padding: 0 10px;
    max-width: 1000px;
	margin-bottom: 50px;
}

.content-container{
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.content-container img {
	max-width: 100%;
	min-height: 600px;
	aspect-ratio: 16/9;
	object-fit: fill;
	margin: auto;
}

form {
	margin: auto;
	max-width: 1440px;
	padding: 20px 5px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

form h2 {
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
}

form input,
form textarea,
form button {
	border: 1px solid #10002b;
	border-radius: 5px;
	padding: 12px 16px;
	margin: 20px 10px;
	font-size: 16px;
}

form textarea {
	max-width: 500px;
	resize: both;
}

form button {
	background-color: #f9f9f9;
	transition: 500ms;
}

form button:hover {
	background-color: #10002b;
	color: #f9f9f9;
}

form .form-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
