body{
    font-family: Open Sans,sans-serif;
    background-color: #f1f1f1;
}

main{
    margin: -50px auto;
    max-width: 1440px;
    padding: 0 5px;
}

.home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
