nav{
    background-color: #7b2cbf;
    min-height: 200px;
    display: flex;
    align-items: flex-start;
    padding: 20px 0;
}

section{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav h1 a{
    font-size: 2.8rem;
    font-weight: bold;
    color: #10002b;
}

nav strong{
    font-size: 1.2rem;
    color: #10002b;
    border: 2px solid #10002b;
    padding: 2px 5px;
    border-radius: 5px;
    margin-left: 4px;
}

nav ul{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

ul a{
    font-size: 20px;
    margin-right: 10px;
    background-color: #d1d1d1;
    border: 2px solid #10002b;
    color: #10002b;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
    transition: .5s;
}

ul a:hover{
    background-color: #3c096c;
    color: #f9f9f9;
}